<section id="snippets">
	<% current_user.snippets.each do |snippet| %>
			<article>
				<div class="container">
				  <h2><%= snippet.name %></h2>					
					<div class="project">
						<span class="well"><%= snippet.description %></span>
						<span class="btn btn-small btn-info"><i class="icon-list-alt icon-white"></i> <%= snippet.project %></span>
					</div>
					<div class="pages">
					<% snippet.pages.each do |page| %>
			    		<h3><i class="icon-file icon-white"></i> <%= link_to page.name, page, :class => 'ajaxify-bitch' %></h3>
			    		<%#= link_to 'x', page, :confirm => 'Delete Page - Are you sure?', :method => :delete, :class => "delete-page" %>
							<%#= link_to 'Edit', edit_page_path(page), :class => 'edit-page' %>
			    <% end %>		
					</div>
				</div>
				<div class="snippet-actions">
			    <%= link_to 'Edit', edit_snippet_path(snippet) %> |
					<%= link_to 'Delete', snippet, :confirm => 'Are you sure?', :method => :delete %>
				</div>
			</article>
	<% end %>
</section>